@model CardViewModel
<div class="card d-flex flex-column justify-content-start align-items-center m-md-4">
    <div class="cardImg">
    </div>
    <div class="cardTitle d-flex justify-content-center align-items-center mt-4">
        <div class="mr-3"></div>
        <span>@Model.Title</span>
    </div>
    <p class="mt-4 ml-3 ml-md-4 mr-3 mr-md-4">
        @Model.Description
    </p>
</div>
