<div data-sl-section="LOGO">
    <div data-sl-src="./mini/gold2.jpg">
        <a href="./hq/gold2.jpg"
           data-lightbox-trigger="LOGO"
           data-lightbox-title="Golden ratio II"
           data-lightbox-description="">
            <img src="" alt="logo 1" />
        </a>
    </div>

    <div data-sl-src="./mini/gold.jpg">
        <a href="./hq/gold.jpg"
           data-lightbox-trigger="LOGO"
           data-lightbox-title="Golden ratio"
           data-lightbox-description="">
            <img src="" alt="logo 2" />
        </a>
    </div>

    <div data-sl-src="./mini/trippio.png">
        <a href="./mini/trippio.png"
           data-lightbox-trigger="LOGO"
           data-lightbox-title="Trippio"
           data-lightbox-description="Logo dla fikcyjnego biura wycieczkowego.">
            <img src="" alt="logo 3" />
        </a>
    </div>

    <div data-sl-src="./mini/o.jpg">
        <a href="./hq/o.jpg"
           data-lightbox-trigger="LOGO"
           data-lightbox-title="O"
           data-lightbox-description="Alfabet - O">
            <img src="" alt="logo 4" />
        </a>
    </div>

    <div data-sl-src="./mini/pcrank.jpg">
        <a href="./hq/pcrank.jpg"
           data-lightbox-trigger="LOGO"
           data-lightbox-title="PC RANKS"
           data-lightbox-description="Logo dla zajawkowej serii na kanał TechLipton.">
            <img src="" alt="logo 5" />
        </a>
    </div>
</div>
