<div class="show-section" data-sl-section="WWW & UI">
    <div>
        <a href="./UI/chat.png"
           data-lightbox-trigger="Wbdgn"
           data-lightbox-title="Komunikator"
           data-lightbox-description="Projekt komunikatora.">
            <img src="./mini/chat.jpg" width="400" height="400" alt="chat" />
        </a>
    </div>

    <div>
        <a href="./UI/bank.png"
           data-lightbox-trigger="Wbdgn"
           data-lightbox-title="Aplikacja bankowa"
           data-lightbox-description="Projekt aplikacji
                                bankowej.">
            <img src="./mini/bank.jpg" width="400" height="400" alt="bank" />
        </a>
    </div>

    <div>
        <a href="./hq/cfn.jpg"
           data-lightbox-trigger="Wbdgn"
           data-lightbox-title="Call for Nanny"
           data-lightbox-description="Projekt strony
           internetowej dla Call for Nanny - firmy zajmującej się opieką nad dziećmi. | <a
                            href='http://callfornanny.pl/' target='_blankt'>Online</a>"
        >
            <img src="./mini/cfn.jpg" width="400" height="400" alt="call for nanny" />
        </a>
    </div>

    <div>
        <a href="./UI/checkout.png"
           data-lightbox-trigger="Wbdgn"
           data-lightbox-title="Checkout page"
           data-lightbox-description="Projekt zakładki
                                płatności.">
            <img src="./mini/checkout.jpg" width="400" height="400" alt="checkout" />
        </a>
    </div>
</div>
