<div data-sl-section="OTHER">
    <div data-sl-src="./mini/liptonmini.jpg">
        <a href="./hq/liptonmini.jpg"
           data-lightbox-trigger="Art"
           data-lightbox-title="Tech Lipton 2018"
           data-lightbox-description="Ułamek owocnej
           współpracy z kanałem <a href='https://www.youtube.com/channel/UC5yINQup0pg6kf3fQ3RDvWw' target='_blankt'>
                                    TechLipton</a>"
              >
                <img src="" alt="untitled" />
              </a>
    </div>
    <div data-sl-src="./art/untitled2.jpg">
        <a href="./art/untitled2.jpg"
           data-lightbox-trigger="Art"
           data-lightbox-title="untitled"
           data-lightbox-description="">
            <img src="" alt="untitled" />
        </a>
    </div>
    <div data-sl-src="./art/untitled3.jpg">
        <a href="./art/untitled3.jpg"
           data-lightbox-trigger="Art"
           data-lightbox-title="untitled"
           data-lightbox-description="">
            <img src="" alt="untitled" />
        </a>
    </div>
    <div data-sl-src="./art/untitled5.jpg">
        <a href="./art/untitled5.jpg"
           data-lightbox-trigger="Art"
           data-lightbox-title="untitled"
           data-lightbox-description="">
            <img src="" alt="untitled" />
        </a>
    </div>
</div>
